@import "bootstrap";
@import "colors.module.scss";

// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";
// @import "node_modules/bootstrap/scss/mixins";

html, body {
  width: 100%;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

// Overrides

@include media-breakpoint-down(md) {
  .row > * {
    max-width: 100%;
    padding-right: unset;
    padding-left: unset;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
:root {
  --bs-link-color: #2e6da4;
}

.header-link {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
  }
  &:hover::after {
    content: ' #';
  }
}

.v-popper__popper {
  z-index: 1000 !important;
}

ul {
  margin-bottom: 0;
}